<p>Oh NO! Did you incorrectly enter Employee details? Or are you pranged about the future and want to change your circumstances?</p>

<h3>FEAR NOT</h3>

Simply edit an Employee here, fine user.<br><br>

<%= render 'form' %><br>

Changed your mind? Click <%= link_to 'here', employees_path %> to go back to extant Employees list
