<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Good Employees</h1>
    <ul>
      <%@employees.each do |e| %>
        <li><%= link_to e.to_s, employee_path(e) %></li>
      <% end %>
    </ul>

  </body>
</html>
