<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Employee</title>
  </head>
  <body>
    <%= render "form" %>
    <br>
    <%= link_to "Cancel", employees_path %>
  </body>
</html>
