<h1>WEIRD SCIENCE!!!</h1>
On this very page, we furnish upon you, fine user, the not-to-be-sniffed-at ability to....(wait for it)....CREATE A NEW EMPLOYEE!!!<br><br>


<%= render 'form' %><br>


Changed your mind? Click <%= link_to 'here', employees_path %> to go back to extant Employees list
