<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Good Dogs</h1>
    <ul>
      <%@dogs.each do |d| %>
        <li><%= link_to d.name, dog_path(d) %></li>
      <% end %>
    </ul>

  </body>
</html>
